{% extends 'base.html.twig' %}

{% block title %}Band index{% endblock %}

{% block main %}
    <div class="container my-3">
        <div class="text-center my-3">
            <h1>Band index</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>MembersNumber</th>
                <th>Style</th>
                <th>UrlName</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for band in bands %}
                <tr>
                    <td>{{ band.name }}</td>
                    <td>{{ band.membersNumber }}</td>
                    <td>{{ band.style }}</td>
                    <td>{{ band.urlName }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('band_edit', {'id': band.id}) }}">edit</a>
                    </td>
                    <td>
                        {% include 'band/_delete.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
