{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}


    <div class="container my-5">

        <div class="text-center bg-img-test position-relative">
            <div class="position-absolute d-flex align-items-center h-100" style="left: 15rem">
                <h1 class="display-3">Concerts</h1>
            </div>
            <img src="{{ asset('img/concert/concert.jpg') }}" width="800rem" alt="">
        </div>

        <table class="table table-hover table-sm">
            <caption>List of concerts</caption>
            <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Bands</th>
                <th scope="col">Day</th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.name }}</td>
                    <td>{{ dump(concert.bands) }}</td>
                    <td>{{ concert.day | date('d/m/Y') }}</td>
                </tr>

            {% endfor %}



            </tbody>
        </table>



        <div class="text-center">
            <a href="{{ path('concert_create') }}" class="btn btn-primary rounded-pill">Create a concert</a>
        </div>
    </div>


{% endblock %}
