{% extends 'base.html.twig' %}

{% block title %}Concert index{% endblock %}

{% block main %}
    <div class="container my-3">
        <div class="text-center my-3">
            <h1>Concert list</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Isfull</th>
                <th>Start</th>
                <th>End</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.name }}</td>
                    <td>{{ concert.full }}</td>
                    <td>{{ concert.startTime }}</td>
                    <td>{{ concert.endTime }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('concert_edit', {'id': concert.id}) }}">edit</a>
                    </td>
                    <td>
                        {% include 'concert/_delete.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
