{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}

    <div class="container my-5">

        <div class="text-center bg-img-test position-relative">
            <div class="position-absolute d-flex align-items-center h-100">
                <h1 class="display-3">{{ concert.name }}</h1>
            </div>
        </div>

        <div>
            {{ dump(concert) }}
        </div>
        <div class="my-3">Is full : {% if concert.full %} true {% else %} false {% endif %}</div>
        <div>Starts at {{ concert.startTime }} and end at {{ concert.endTime }}</div>
        <div class="my-3">
            Bands :
            {% for band in concert.bands %}
                {{ dump(band) }}
            {% endfor %}
        </div>
    </div>


{% endblock %}
