{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="text-center my-3">
            <h1>Artist index</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{ artist.id }}</td>
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.job }}</td>
                    <td>{{ artist.birthday ? artist.birthday|date('Y-m-d') : '' }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('artist_edit', {'id': artist.id}) }}">edit</a>
                    </td>
                    <td>
                        {% include 'artist/_delete_form.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




{% endblock %}
