<nav class="navbar navbar-expand-md navbar-light border-bottom border-light border-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">ConcertProject</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('homepage') }}">
                        <svg class="mb-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="#home"></use>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('band_list') }}">Bands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('concert_index') }}">Concerts</a>
                </li>
                {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manage') }}">Manage</a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user %}
                <div class="d-flex">
                     <div class="px-3">
                         <a href="{{ path('user_index') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="See my profil">
                             <svg class="mb-1" width="24" height="24" fill="currentColor">
                                 <use xlink:href="#profil"></use>
                             </svg>
                         </a>
                     </div>
                    <div class="px-3">
                         <a href="{{ path('app_logout') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="logout">
                             <svg class="mb-1" width="24" height="24" fill="currentColor">
                                 <use xlink:href="#logout"></use>
                             </svg>
                         </a>
                     </div>
                </div>
            {% else %}
                <form class="d-flex">
                    <a href="{{ path('app_login') }}" type="button" class="btn btn-outline-primary me-2">Login</a>
                    <a href="{{ path('app_register') }}" type="button" class="btn btn-primary">Sign-up</a>
                </form>
            {% endif %}
        </div>
    </div>
</nav>






