<div>
    {{ form_start(form) }}
    <div class="row g-5">
        <div class="col-6">
            <div class="form-floating">
                {{ form_widget(form.email) }}
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                {{ form_widget(form.password) }}
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
            </div>
        </div>
    </div>
    <div class="text-center my-3">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}

</div>